body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}

h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: #01a9b4;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #01a9b4;
}

.footer-link{
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer-link:hover{
  color: #01a9b4;
}

p{
  color: #086972;
}
.po{
  margin-top: 0;
  font-weight: normal;
}

.top-container {
  background-color: #f4f6ff;
  position: relative;
  padding-top: 100px;
  color: #4f8a8b;
}

.middle-container{
}

.bottom-container{
  padding: 30px;
  background-color: #4f8a8b;
  color: white;
  margin-top: 30px;
}

.lop{
  color: white;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.computer{
  height: 30%;
  width: 30%;
  float: left;
  margin-right: 30px;
  border-radius: 100%;
}

.chillies{
  height: 30%;
  width: 30%;
  float: right;
  margin-left: 30px;
}

.cloud1{
  position: absolute;
  top: 50px;
  right: 300px;
}

.cloud2{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profileimage{
  height: 10%;
  width: 10%;
}

hr{
  border: 0;
  border-top: 5px;
  border-top-style: dotted;
  width: 5%;
  margin: 50px auto;
  border-color: lightgrey;
}

.profileimage{
  margin-top: 50px;
}

.contactmessage{
  margin: 40px auto 60px;
  width: 50%
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
